@import "tailwindcss";

@theme {
  --inset-shadow-stera-light: inset 0.5px 0.5px 0 0 rgba(0, 0, 0, 0.08), inset -0.5px -0.5px 0 0 rgba(0, 0, 0, 0.06);
  --inset-shadow-stera-dark: inset 0.5px 0.5px 0 0 rgba(255, 255, 255, 0.16), inset -0.5px -0.5px 0 0 rgba(255, 255, 255, 0.10);
  --shadow-si-dark: -0.5px -0.5px 0 0 rgba(255, 255, 255, 0.16), 0.5px 0.5px 0 0 rgba(255, 255, 255, 0.10);
  --shadow-si-light: -0.5px -0.5px 0 0 rgba(0, 0, 0, 0.10), 0.5px 0.5px 0 0 rgba(0, 0, 0, 0.08);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-dm-sans), Arial, Helvetica, sans-serif;
}

/* Syntax highlighting for code blocks */
.syntax-keyword {
  color: #71717A;
}

.syntax-component {
  color: #D4D4D8;
}

.syntax-string {
  color: #D4D4D8;
}

.syntax-prop {
  color: #71717A;
}

.syntax-value {
  color: #71717A;
}

.syntax-comment {
  color: #3F3F46;
  font-style: italic;
}

.syntax-punctuation {
  color: #3F3F46;
}

